<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<style>
    .navbar-btn{
        margin-top:0;
        margin-bottom: 0;
    }
</style>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">TV Show Tracker</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li id="nav-dashboard"><a href="/dashboard">Dashboard</a>
                    </li>
                    <li id="nav-search"><a href="/search">Search</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <p class="navbar-text" th:text='${"Signed in as " + user.getUsername()}'></p>
                    <form id="logoutForm" action="/logout" method="post" class="navbar-form navbar-left">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <button type="submit" class="btn btn-default navbar-btn">Logout</button>
                    </form>
                </ul>
            </div>
        </div>
    </nav>
</body>
</html>