<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>Dashboard</title>
</head>
<body>
    <p th:text="${shows}"></p>
    <form id="logoutForm" action="/logout" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <ul class="nav navbar-nav navbar-right">
        <li><a href="javascript:{}" onclick="document.getElementById('logoutForm').submit();">Logout</a></li>
    </ul>
</form>
</body>
</html>