<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>Login - TV Show Tracker</title>
    <object th:include="/fragments/head :: head" th:remove="tag" />
    <style>
        .form-control {
            margin-bottom: 10px;
        }
        .form-signin-heading {
            margin-top: 0;
            margin-bottom: 15px;
        }
        .alert{
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <nav th:replace="/fragments/navigation_guest"></nav>
    <div class="container-fluid">
        <div class="well col-lg-3 col-lg-offset-4 col-md-3 col-md-offset-4 col-sm-4 col-sm-offset-4">
            <form th:action="@{/login}" method="post">
                <h2 class="form-signin-heading">Please sign in</h2>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <label for="username" class="sr-only"> User Name: </label>
                <input type="text" id="username" class="form-control" required="" name="username" autofocus="" placeholder="Username"/>
                <label for="password" class="sr-only"> Password: </label>
                <input type="password" id="password" class="form-control" required="" name="password" placeholder="Password"/>
                <div th:if="${alertSuccess != null}" class="alert alert-success" role="alert">
                    <span th:text="${alertSuccess}">Registration complete</span>
                </div>
                <div th:if="${param.error}" class="alert alert-danger" role="alert">
                    Invalid username and/or password
                </div>
                <div th:if="${param.logout}" class="alert alert-warning" role="alert">
                    You have been logged out
                </div>
                <button class="btn btn-md btn-primary btn-block" type="submit">Sign In</button>
            </form>

        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('#nav-login').addClass("active").append('<span class="sr-only">(current)</span>');
        });
    </script>
</body>
</html>