<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>Registration - TV Show Tracker</title>
    <object th:include="/fragments/head :: head" th:remove="tag" />
    <style>
        .form-control {
            margin-bottom: 10px;
        }
        .form-signin-heading {
            margin-top: 0;
            margin-bottom: 15px;
        }
        .alert{
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <nav th:replace="/fragments/navigation_guest"></nav>
    <div class="well col-lg-3 col-lg-offset-4 col-md-3 col-md-offset-4 col-sm-4 col-sm-offset-4">
        <form th:action="@{/register}" th:object="${registrationInfo}" method="post">
            <h2 class="form-signin-heading">Create an account</h2>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <div class="form-group" th:classappend="${#fields.hasErrors('username')}? has-error">
                <label for="username"  class="sr-only">Username</label>
                <input id="username" type="text" th:field="*{username}"
                       class="form-control" required="" autofocus="" placeholder="Username"/>

                <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="help-block"></p>
            </div>

            <div class="form-group" th:classappend="${#fields.hasErrors('email')}? has-error">
                <label for="email"  class="sr-only">Email</label>
                <input id="email" type="text" placeholder="Email" required="" th:field="*{email}" class="form-control"/>

                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="help-block"></p>
            </div>

            <div class="form-group" th:classappend="${#fields.hasErrors('password')}? has-error">
                <label for="password"  class="sr-only">Password</label>
                <input id="password" placeholder="Password" type="password" required="" th:field="*{password}" class="form-control"/>

                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="help-block"></p>
            </div>

            <div class="form-group" th:classappend="${#fields.hasErrors('passwordConfirmation')}? has-error">
                <label for="passwordConfirmation"  class="sr-only">Confirm Password</label>
                <input id="passwordConfirmation" placeholder="Confirm Password" type="password" required="" th:field="*{passwordConfirmation}" class="form-control"/>

                <p th:if="${#fields.hasErrors('passwordConfirmation')}" th:errors="*{passwordConfirmation}"
                   class="help-block"></p>
            </div>

            <div th:if="${#fields.hasGlobalErrors()}" class="alert alert-danger" role="alert">
                <span th:errors="${registrationInfo}">Registration failed, please try again!</span>
            </div>

            <div th:if="${alertError != null}" class="alert alert-danger" role="alert">
                <span th:text="${alertError}">Registration failed, please try again!</span>
            </div>

            <button type="submit" class="btn btn-md btn-primary btn-block">Register</button>
        </form>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('#nav-register').addClass("active").append('<span class="sr-only">(current)</span>');
    });
</script>
</body>
</html>